// colors
$bold_bg: #333;
$soft_bg: #eee;
$plain_bg: #fff;

$primary: #333;
$contrast: #fff;

$text: #333;
$text_contrast: #fff;

// breakpoints
$sm: 768px;

// mobile (default)
$mobile_gutter: 30px;
$mobile_section_vertical_gutter: 60px;

// desktop
$desktop_section_vertical_gutter: 120px;
